.wrapper {
  /* background-secondary */

  background: #F3F3F3;
  /* strokes-secondady */

  border: 1px solid #E6E6E6;
  border-radius: 999999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
