@import "./styles/colors";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.mobileEdit {
  padding: 30px;
}
.modalTitle {
  font-family: 'Inter', sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  margin-bottom: 25px;
}

.formForm {
  display: grid;
  font-family: 'Inter', sans-serif;
  gap: 15px;
  .inputLabel {
    font-weight: 500;
    color: $gray;
  }

  .slugLabel {
    background-color: $background-secondary;
    width: 146px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
    border-right: 1px solid $gray;
  }

  .slugInput {
    padding-left: 150px;
  }

  .descriptionInputWrapper {
    display: grid;
    height: 156px;
    padding: 12px 20px;
    .descriptionInput {
      justify-self: start;
      align-self: start;
      height: 100%;
      resize: none;
    }
  }


  .button {
    height: 50px;
    background-color: $text-color;
    color: $background-primary;

    &:disabled {
      background-color: $strokes-primary;
    }
  }

  .showHidePassword {
    cursor: pointer;
  }
}

.buttons {
  display: flex;
  gap: 10px;

  .button {
    height: 50px;
  }

  .cancelButton {
    background-color: $background-primary;
    border: 1px solid $gray;
    color: $text-color;
  }

  .saveButton {
    background-color: $text-color;
    color: $background-primary;
  }
}

.profile {
  display: grid;

  .cover {
    height: 200px;

    background: $background-secondary;

    border-bottom: 1px solid $strokes-secondary;
  }

  .container {
    display: grid;
    gap: 60px;
    padding: 0 240px;

    .userInfo {
      display: grid;
      gap: 35px;

      .userAvatar {
        margin-top: -50px;
      }

      .userName {
        display: grid;
        grid-template-columns: 3fr 1fr;
        .userNameInfo {
          display: grid;
          gap: 10px;
          .name {
            font-weight: 500;
            font-size: 30px;
          }

          .email {
            font-weight: 400;
            font-size: 16px;
            color: $gray;
          }
        }

        .userNameEdit {
          width: 200px;
          height: 40px;
        }
      }

      .userDescription {
        width: 600px;
        line-height: 160%;
      }
    }

    .logOut {
      width: 130px;
      height: 40px;
    }
  }

  .button {
    background: $background-primary;
    color: $text-color;
  }
}



@media (max-width: 1024px) {
  .profile {

    .container {
      padding: 0 120px;
    }
  }
}

@media (max-width: 768px) {
  .profile {
    .container {
      .userInfo {
        .userDescription {
          width: 100%;
        }
      }
    }
  }
}

.errorContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 130px 0;
}

@media (max-width: 590px) {
  .profile {
    .container {
      padding: 0 30px;

      .userInfo {
        .userName {
          grid-template-columns: 1fr;
          gap: 10px;
        }

        .userDescription {
          width: 100%;
        }
      }
    }
  }
}
